@charset "utf-8";
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCC;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
#container { 
	width: 80%;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background-color: #FFF;
	margin:auto; /* the auto margins (in conjunction with a width) center the page */
	margin-top:1em;
	margin-bottom:1em;
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 

img
{
	margin: 4px;	
}

#container h1 {
	color:#006;	
}

#header { 
	background-color: #006;
	padding: 0 10px 0 20px;/* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	padding-top:1em;
	padding-bottom:1.5em;
} 
#header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	color:#FFF;
}

/* Author: Craig Erskine Description: Dynamic Menu System - Horizontal/Vertical */ 
#navmenu-h ul
{
	margin: 0;
	margin-left:1em;
	margin-right:1em;
	padding: 0;
	border-top: 1px solid black;
	list-style: none;
	position: relative;
	background-color:#006;
} 
#navmenu-h ul ul
{
	width: 175px;
	/* Sub Menu Width */
	margin: 0;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	border: 1px solid black;
} 
#navmenu-h ul ul ul, ul#navmenu-h ul ul ul
{
	top: 0;
	left: 175px;
	border: 1px solid black;
} 
#navmenu-h ul li
{
	padding-right:20px;
	padding-left:2px;
	float: left;
	display: inline;
	position: relative;
} 
#navmenu-h ul ul li
{
	border: none;
	width:inherit;
	display: block;
}
/* Root Menu */ 
#navmenu-h ul a
{
	
	display: block;
	background: #006;
	color: white;
	font: 16px Arial, sans-serif;
	text-decoration: none;
	margin-top:3px;
	width:100%;
} 

/* Root Menu Hover Persistence */ 
#navmenu-h a:hover, #navmenu-h ul li:hover a, #navmenu-h li.iehover a
{
	text-decoration:overline;
} 

#navmenu-h li:hover
{

}

/* 2nd Menu */ 
#navmenu-h li:hover ul li a, #navmenu-h li.iehover li a
{
	float: none;
	text-decoration:none;
	background: #006;
} 
/* 2nd Menu Hover Persistence */ 
#navmenu-h ul li:hover li a:hover, #navmenu-h ul ul li:hover li:hover a, #navmenu-h ul ul li.iehover li a:hover, #navmenu-h ul ul li.iehover li.iehover a
{
	background-color: #7B85D7;
} 
/* 3rd Menu */
#navmenu-h li:hover li:hover li a, #navmenu-h li.iehover li.iehover li a
{
	background-color: #006;
} 
/* 3rd Menu Hover Persistence */ 
#navmenu-h li:hover li:hover li a:hover, #navmenu-h li:hover li:hover li:hover a, #navmenu-h li.iehover li.iehover li a:hover, #navmenu-h li.iehover li.iehover li.iehover a
{
	background: #7B85D7;
}

/* Hover Function - Do Not Move */ 
#navmenu-h ul li:hover ul ul, #navmenu-h ul li:hover ul ul ul, #navmenu-h ul li.iehover ul ul, #navmenu-h ul li.iehover ul ul ul
{
	display: none;
}

#navmenu-h li:hover ul, #navmenu-h ul li:hover ul, #navmenu-h ul ul li:hover ul, #navmenu-h li.iehover ul, #navmenu-h ul li.iehover ul, #navmenu-h ul ul li.iehover ul
{
	display: block;
}

#sidebar1 {
	float: right; /* since this element is floated, a width must be given */
	width: 200px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background-color: #5555D4; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 10px;
	border: 2px solid black;
	color: white;
	margin-top: 18px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#mainContent { 
	margin: 1em 25px 0 0; /* the right margin on this div element creates the column down the right side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}

#bluebackground
{
	background-color: #006;
	position: absolute;
	width: 80%;
	font-size:18pt;
}

#footer { 
	padding: 0 10px 0 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background-color: #006;
	color: white;
} 
#footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}

#logo a
{
	text-decoration:none;
	color:white;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
